<div class="footer-wrapper">

    <div class="footer-desc">
      <h1>En<span>Vizion</span>Gym</h1>
      <p><a href="mailto:envizion@gym.com" class="footer-email"><i class="fa-solid fa-envelope footer-icon"></i>envizion@gym.com</a></p>
      <p id="phone"><i class="fa-solid fa-phone footer-icon"></i><a href="tel:347- 885 - 2503">347- 885 - 2503</a></p>
      <p><i class="fa-solid fa-location-dot footer-icon"></i>Brooklyn, New York</p>
    </div>

    <div class="footer-links">
      <h2 class="footer-title">Contact us</h2>
      <a href="./contact" class="footer-link">Contact</a>
      <a href="./contact" class="footer-link">Sponsorships</a>
    </div>

    <div class="footer-links">
      <h2 class="footer-title">Memberships</h2>
      <a href="./membership" class="footer-link">Pricing</a>
      <a href="./membership" class="footer-link">Plans</a>
      <a href="./membership" class="footer-link">FAQ</a>
    </div>

    <div class="footer-links socials">
      <h2 class="footer-title">Socials</h2>
      <div>
        <i class="fa-brands fa-instagram footer-icon"></i>
        <a href="#" class="footer-link">Instagram</a>
      </div>
      <div>
        <i class="fa-brands fa-facebook footer-icon"></i>
        <a href="#" class="footer-link">Facebook</a>
      </div>
      <div>
        <i class="fa-brands fa-tiktok footer-icon"></i>
        <a href="#" class="footer-link">TikTok</a>
      </div>
      <div>
        <i class="fa-brands fa-youtube footer-icon "></i>
        <a href="#" class="footer-link">YouTube</a>
      </div>
      <div>
        <i class="fa-brands fa-x-twitter footer-icon"></i>
        <a href="#" class="footer-link">Twitter</a>
      </div>
    </div>

    <div class="footer-links info">
      <h2 class="footer-title">Informations</h2>
      <p><a href="#" class="footer-link">Condition of Sales</a></p>
      <p><a href="#" class="footer-link">Payment security statement</a></p>
    </div>

    <div class="footer-links payment">
      <div>
        <a href="https://usa.visa.com/" target="_blank"><img src="./images/visa-card.png" alt="visa-card" class="footer-img"></a>
      </div>
        <a href="https://www.paypal.com/" target="_blank"><img src="./images/paypal-seeklogo.com.svg" alt="visa-card" class="footer-img paypal"></a>
        
    </div>

    <div class="footer-links payment">
      <div>
        <a href="https://www.mastercard.us/en-us" target="_blank"><img src="./images/mastercard-logo.svg"alt="visa-card" class="footer-img mastercard"></a>
      </div>
    </div>

  </div>

  <div class="copyright">
    <p>Copyright &copy datamonsterr</p>
    <a href="https://github.com/datamonsterr"><i class="fa-brands fa-github cursor"></i></a>
  </div>